<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <!-- <script src="../app.js"></script> -->
  </head>
  <body>
    <%- include("menu"); %>
    <section class="container">
      <div class="image_container">
        <h1>Sobre nossa empresa</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <div><%- include("usertable"); %></div>
    </section>
    <%- include("rodape") %>
  </body>
</html>
